*{
    margin: 0px;
    padding: 0px;
}
html{
    background: white;
}




#contenedor{
    width: 1000px;
    height: 900px;
    background: gray; 
  margin:auto;
    margin-top: 10px;
    text-decoration-color:rgb(4, 128, 0);
}


    header{
    width: 1000px;
    height: 450px;
    background: purple;
}
#baner{
    width: 700px;
    height: 450px;
    background: gray;
    float: right; }
#logo{
    width: 300px;
    height: 450px;
    background: green;
    float: right; }
    #logo img{
        width: 300px;
        height: 450px;
    }
footer{
    background: blue;
    width: 1000px;
    height: 450px;
    
}
#Fiz{
    width: 300px;
    height: 450px;
    background: peru;
    float: left;
}
#Fder{
    width: 700px;
    height: 450px;
    background: orange;
    float: right;
}
#Fiz img{
    width: 300px;
    height: 450px;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    line-height: 720px;
}